# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# SQLite databases (if you use one during development)
*.db

# Jupyter notebooks
.ipynb_checkpoints/